$brand-primary: #353;
$brand-secondary: #686;
$white: #fff;
$black: #000;
$font-secondary: 'Rajdhani', sans-serif;
$font-primary: 'Saira Condensed', sans-serif;

@mixin txtBox {
  color: $white;
  border: 1px solid $white;
  padding: .25em 0;
  width: 40%;
  background: rgba(0,0,0,0.5);
}

.btn-div {
  margin-top: 5em;
  text-align: center;
}

.project-pic{
  height: 480px;
  background: #333;
}

.project-info-odd{
  height: 480px;
  background: $white;
}

.project-info-even{
  height: 480px;
  background: $brand-primary;
  color: $white;
}

.project-title {
  margin-top: 30%;
  @include txtBox;
  background: rgba(0,0,0,0.5);
  min-width: 250px;
}
