$brand-primary: #353;
$brand-secondary: #686;
$white: #fff;
$black: #111;
$font-secondary: 'Rajdhani', sans-serif;
$font-primary: 'Saira Condensed', sans-serif;

.about-container{
  height: 960px;
  background: #000;
}

.about-pic{
  height: 480px;
  background: #333;
}

.about-text{
  height: 480px;
  background: #fff;
}

#media-links {
  margin-left: 1em;
  text-align: center;
}

.media-link a{
  text-decoration: none;
  color: $black;
  // padding: 0.02em;
  border-radius: 50%;
  text-align: center;
  margin: auto;
}

.media-link {
  padding-right: 1em;
  border-radius: 50%;
  font-size: 20px;
  height: 1.1em;
  width: 4em;
  text-align: center;
  display: inline-block;
  margin-left: .5em;
}

@media only screen and (min-width: 850px){
  .about-container{
    height: 65em;
  }

  .about-text, .about-pic{
    height: 100%;
  }
}
