$brand-primary: #353;
$brand-secondary: #686;
$white: #fff;
$black: #111;
$font-secondary: 'Rajdhani', sans-serif;
$font-primary: 'Saira Condensed', sans-serif;

#landing-container{
  background-image: url('../../imgs/landing-back.jpeg');
  background-size: cover cover;
  background-position: center;
  background-repeat: no-repeat;
}

.prof-pic {
  height: 25em;
  width: 25em;

  border-radius: 50%;
  background-image: url('../../imgs/SBtreelogo.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.prof-pic-background {
  background: rgba(0,0,0,0.75);
  height: 25em;
  width: 25em;
  margin: 10em auto;
  border: 1em solid rgba(0,0,0,0.5);
  border-radius: 50%;
}
